%script{:id => "history-template.html", :type => "text/ng-template"}
  %li.noiseknockout
    .page
      <img class="favicon" ng-src="http://{{annotation.domain}}/favicon.ico"/><a href="{{annotation.domain}}">{{annotation.domain}}</a> | <a href="{{annotation.link}}">{{annotation.page|truncate:80}}</a>
    .hyp-paper.hyp-excerpt
      %blockquote
        {{annotation.excerpt|truncate:140}}
    .hyp-paper.hyp-summary
      .topbar
        .hyp-user {{annotation.username}}
        .hyp-time {{annotation.time}}
      .hyp-content {{annotation.text|truncate:140}}