%script{:id => "summary-template.html", :type => "text/ng-template"}
  %li.hyp-paper.hyp-summary
    .topbar
      .hyp-user {{annotation.username}}
      .hyp-time {{annotation.time}}
    .hyp-content {{annotation.text}}
